html{
	font:16px;
}

body{
overflow-x:hidden;
max-width:100%;
font-family:Helvetica;
}

/*Header Section*/
header{

}

#bannerBackgroundPic{
	height:10rem;
	
}

#murphyLogo{
	width:15%;
}

#murphyLogo > img{
	
	
}
nav{
padding:1rem 1rem;
background-color:#004080;
color:white;
}

nav ul{
 display:flex;
 justify-content:space-around;
}
nav ul li a{
	text-decoration:none;
	color:white;
}
nav ul li a:hover{
  text-decoration:underline #e5ebf2;
}


/*Main Section*/
main{
	
	display:flex;
	flex-direction:column;
	align-items:center;
}

.vehicleAndText{
	margin:2rem 1rem;
	
}
.vehiclePic{
	width:100%;
}
.vehiclePic img{
	width:100%;
	height:auto;
}
.vehicleText{
	display:flex;
	justify-content:space-between;
	margin-top:1.5rem;
	padding:1rem 1rem;
	background-color:#e5ebf2;
}

 .darkText{
 font-weight:bold;
}
/*Footer Section*/
footer{
	padding:2rem 2rem;
	background-color:#004080;
	color:white;
	display:flex;
	justify-content:center;
}

/*Media queries*/
/*Smartphone Styles*/
@media only screen and (max-width:480px){
	.vehicleText{
		display:flex;
		flex-direction:column;
		align-items:flex-start;
	}

}

